<div class="form-group row">
    <label for="ApparelBrand" class="col-2 col-form-label">Apparel Brand</label>
    <div class="col-10">
        <input class="form-control" type="text" id="Apparel Brand" ng-model="apparel.ApparelBrand">
    </div>
</div>
<div class="form-group row">
    <label for="Quantity" class="col-2 col-form-label">Enter Quantity</label>
    <div class="col-10">
        <input class="form-control" type="search" ng-model="apparel.NumberOfItems" id="Quantity">
    </div>
</div>

<button ng-click="submitApparel(apparel)">Submit Apparel</button>