
<div class="container">
    <h1>Customer List</h1>
    <hr class="divide-line" />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                    <input type="text" class="form-control longer-input-box" placeholder="Search for ..." ng-model="searchText">
                </div>
            </div>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>E-Mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in customerList | filter: searchText">
                            <td>{{customer.CustomerName}}</td>
                            <td>{{customer.CustomerAddress}}</td>
                            <td>{{customer.CustomerPhone}}</td>
                            <td>{{customer.CustomerEmail}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
