<h1>ORDERS</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>OrderNumber</th>
                            <th>Sales Person</th>
                            <th>Customer</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orderlist">
                            <td><a href="/#!/orderdetail/{{order.OrderFormId}}">{{order.OrderNumber}}</a></td>
                            <td>{{order.SalesPerson}}</td>
                            <td>{{order.CustomerName}}</td>
                            <td>{{order.ApparelQuantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


     