<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Order Details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <p>Order Date: {{selectedOrder.OrderDate | date:'MM/dd/yy'}}</p>
                </div>
                <div class="col-sm-4">
                    <p>Due Date: {{selectedOrder.OrderDueDate | date:'MM/dd/yy'}}</p>
                </div>
                <div class="col-sm-4">
                    <p>Sales Person: {{selectedOrder.SalesPerson}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Customer</h4>
                    <p>Name: {{selectedOrder.Customer.CustomerName}}</p>
                    <p>Address: {{selectedOrder.Customer.CustomerAddress}}</p>
                    <p>Phone: {{selectedOrder.Customer.CustomerPhone}}</p>
                    <p>E-Mail: {{selectedOrder.Customer.CustomerEmail}}</p>

                </div>
            </div>

               

                
                {{selectedOrder.Apparel.ApparelType}}<br />
                {{selectedOrder.Apparel.ApparelBrand}}<br />
                {{selectedOrder.Apparel.ApparelQuantity}}<br />
                {{selectedOrder.Apparel.ApparelPricePerPiece}}<br />
                {{selectedOrder.Apparel.ApparelColor}}<br />
                {{selectedOrder.Design.AmountOfColorsOfDesign}}<br />
                {{selectedOrder.Design.DesignHeight}}<br />
                {{selectedOrder.Design.DesignWidth}}<br />
                {{selectedOrder.Design.LogoLocations}}<br />
                {{selectedOrder.Design.DesignFee}}<br />
                {{selectedOrder.Design.InkColorsToBeUsed}}<br />

                {{selectedOrder.TotalPrice}}<br />
                {{selectedOrder.AdditionalNotesToPrinter}}<br />


        <div class="footer">
            <button class="btn-primary" ng-click="backToOrders()">Back to Orders</button>
            <button class="btn-danger glyphicon-minus-sign" ng-click="deleteOrder(OrderFormId)"></button>
        </div>
    </div>
</div>