<h1 class="text-center">Order Form</h1>
<hr class="small-line" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="OrderNumber">Order Number</label>
                <input type="number" class="form-control" id="OrderNumber" placeholder="Order #" ng-model="newOrder.OrderNumber" />
            </div>
            <div class="form-group">
                <label for="OrderDate">Order Date</label>
                <input type="datetime" class="form-control" id="OrderDate" placeholder="Order Date" ng-model="newOrder.OrderDate" />
            </div>
            <div class="form-group">
                <label for="OrderDate">Due Date</label>
                <input type="datetime" class="form-control" id="OrderDate" placeholder="Due Date" ng-model="newOrder.OrderDueDate" />
            </div>
            <div class="form-group">
                <label for="SalesPerson">Sales Person</label>
                <input type="text" class="form-control" id="SalesPerson" placeholder="Sales Person" ng-model="newOrder.SalesPerson" />
            </div>
        </div>

        <!--Customer-->
        <div class="col-md-5">
            <div class="form-group">
                <label for="CustomerName">Customer Name</label>
                <input type="text" class="form-control" id="CustomerName" placeholder="Customer Name" ng-model="newOrder.CustomerName" />
            </div>
            <div class="form-group">
                <label for="CustomerAddress">Customer Address</label>
                <input type="text" class="form-control" id="CustomerName" placeholder="Customer Address" ng-model="newOrder.CustomerAddress" />
            </div>
            <div class="form-group">
                <label for="CustomerPhone">Customer Phone Number</label>
                <input type="number" class="form-control" id="CustomerPhone" placeholder="Customer Phone" ng-model="newOrder.CustomerPhone" />
            </div>
            <div class="form-group">
                <label for="CustomerEmail">Customer E-Mail</label>
                <input type="email" class="form-control" id="CustomerPhone" placeholder="Customer E-Mail" ng-model="newOrder.CustomerEmail" />
            </div>
        </div>
    </div> <!-- end of row -->

    <br />
    <hr class="divide-line" />
    <br />

    <!--Design-->
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="NumberOfColors">Number Of Colors(max of 4)</label>
                <input type="text" class="form-control" id="NumberOfColors" placeholder="Number Of Colors" ng-model="newOrder.AmountOfColorsOfDesign" />
            </div>
            <div class="form-group">
                <label for="DesignWidth">Design Width (inches)</label>
                <input type="number" class="form-control" id="DesighWidth" placeholder="Design Width" ng-model="newOrder.DesignWidth" />
            </div>
            <div class="form-group">
                <label for="DesignHeight">Height of Design (inches)</label>
                <input type="number" class="form-control" id="DesignHeight" placeholder="Design Height" ng-model="newOrder.DesignHeight" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="LogoLocations">Locations of Logo</label>
                <input type="text" class="form-control" id="LogoLocations" placeholder="Locations Of Logo" ng-model="newOrder.LogoLocations" />
            </div>
            <div class="form-group">
                <label for="InkColorsToBeUsed">Color of Ink(s)</label>
                <input type="text" class="form-control" id="InkColorsToBeUsed" placeholder="Ink Color" ng-model="newOrder.InkColorsToBeUsed" />
            </div>
        </div>
    </div> <!-- end of row -->

    <br />
    <hr class="divide-line" />
    <br />

    <!--Apparel-->
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="ApparelType">Apparel Type</label>
                <input type="text" class="form-control" id="ApparelType" placeholder="Garment Type" ng-model="newOrder.ApparelType" />
            </div>
            <div class="form-group">
                <label for="ApparelBrand">Brand</label>
                <input type="text" class="form-control" id="ApparelBrand" placeholder="Garment Brand" ng-model="newOrder.ApparelBrand" />
            </div>
            <div class="form-group">
                <label for="ApparelQuantity">Quantity</label>
                <input type="number" class="form-control" id="ApparelQuantity" placeholder="Quantity" ng-change="recalculate()" ng-model="newOrder.ApparelQuantity" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="ApparelColor">Garment Color</label>
                <input type="text" class="form-control" id="ApparelColor" placeholder="Garment Color" ng-model="newOrder.ApparelColor" />
            </div>
            <div class="form-group">
                <label for="ApparelPricePerPiece">Price Per Garment</label>
                <input type="number" class="form-control" id="ApparelPricePerPiece" placeholder="Price per Garment" ng-change="recalculate()" ng-model="newOrder.ApparelPricePerPiece" />
            </div>
        </div>
    </div> <!-- end of row -->

    <br />
    <hr class="divide-line" />
    <br />

    <!-- Fees -->
    <div class="row">
        <div class="col-md-5">
            <!-- Printing Fee -->
            <div class="form-group">
                <label for="PrintingFee">Printing Fee</label>
                <input type="number" class="form-control" id="PrintingFee" placeholder="Printing Fee" ng-change="recalculate()" ng-model="newOrder.OrderForm.PrintingFee" />
            </div>
            <!-- Design Fee -->
            <div class="form-group">
                <label for="DesignFee">Design Fee</label>
                <input type="number" class="form-control" id="DesignFee" placeholder="Design Fee" ng-change="recalculate()" ng-model="newOrder.DesignFee" />
            </div>
            <!-- Total Price-->
            <div class="form-group">
                <label for="TotalPrice">Total Price</label>
                <input type="number" disabled class="form-control" id="TotalPrice" placeholder="Total Price" ng-model="newOrder.TotalPrice" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <label>Price List for Screen Printing</label>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Min</th>
                            <th>10-50</th>
                            <th>51-100</th>
                            <th>101-150</th>
                            <th>151+</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>1-Color</strong></td>
                            <td>$35.00</td>
                            <td>$2.25</td>
                            <td>$1.70</td>
                            <td>$1.50</td>
                            <td>$1.25</td>
                        </tr>
                        <tr>
                            <td><strong>2-Color</strong></td>
                            <td>$45.00</td>
                            <td>$3.40</td>
                            <td>$2.55</td>
                            <td>$2.20</td>
                            <td>$2.00</td>
                        </tr>
                        <tr>
                            <td><strong>3-Color</strong></td>
                            <td>$60.00</td>
                            <td>$5.00</td>
                            <td>$3.70</td>
                            <td>$3.20</td>
                            <td>$2.85</td>
                        </tr>
                        <tr>
                            <td><strong>4-Color</strong></td>
                            <td>$70.00</td>
                            <td>$6.00</td>
                            <td>$5.00</td>
                            <td>$4.25</td>
                            <td>$3.75</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end of row -->
    <!--AdditonalInfo-->
    <div class="row">
        <div class="col-md-7">
            <label for="AdditionalNotes">Additional Notes</label>
            <div class="form-group">
                <textarea ng-model="newOrder.AdditionalNotes"></textarea>
            </div>
        </div>
    </div> <!-- end of row -->

    <button class="btn-danger" ng-click="submitOrder(newOrder)">Submit Order</button>

</div>