<div><h2>YOU WIN</h2></div>

<!--<ul>
    <li ng-repeat="order in orderlist">
        <strong>Order Date:</strong>{{order.OrderDate | date:'MM/dd/yy'}} <br />
        <strong>Order Due Date:</strong> {{order.OrderDueDate | date:'MM/dd/yy'}} <br />
        {{order.SalesPerson}}<br />
        
        {{order.CustomerName}} <br />
        {{order.CustomerAddress}}<br />
        {{order.ApparelType}}<br />
        {{order.ApparelBrand}}<br />
        {{order.ApparelQuantity}}<br />
        {{order.ApparelPricePerPiece}}<br />
        {{order.ApparelColor}}<br />
        {{order.AmountOfColorsOfDesign}}<br />
        {{order.DesignHeight}}<br />
        {{order.DesignWidth}}<br />
        {{order.LogoLocations}}<br />
        {{order.DesignFee}}<br />
        {{order.InkColorsToBeUsed}}<br />

        {{order.TotalPrice}}<br />
        {{order.AdditionalNotesToPrinter}}<br />


    </li>
</ul>-->


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>OrderNumber</th>
                            <th>Sales Person</th>
                            <th>Customer</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orderlist">
                            <td><a href="#!/orders/details/{{order.OrderFormId}}">{{order.OrderNumber}}</a></td>
                            <td>{{order.SalesPerson}}</td>
                            <td>{{order.CustomerName}}</td>
                            <td>{{order.ApparelQuantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


     