<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Order Details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <p>Order Date: {{selectedOrder.OrderDate | date:'MM/dd/yy'}}</p>
                </div>
                <div class="col-sm-4">
                    <p>Due Date: {{selectedOrder.OrderDueDate | date:'MM/dd/yy'}}</p>
                </div>
                <div class="col-sm-4">
                    <p>Sales Person: {{selectedOrder.SalesPerson}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Customer</h4>
                    <p>Name: {{selectedOrder.Customer.CustomerName}}</p>
                    <p>Address: {{selectedOrder.Customer.CustomerAddress}}</p>
                    <p>Phone: {{selectedOrder.Customer.CustomerPhone}}</p>
                    <p>E-Mail: {{selectedOrder.Customer.CustomerEmail}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Design</h4>
                    <p>Height: {{selectedOrder.Design.DesignHeight}} inches</p>
                    <p>Width: {{selectedOrder.Design.DesignWidth}} inches</p>
                    <p>Logo Location(s): {{selectedOrder.Design.LogoLocations}}</p>
                    <p># of Colors: {{selectedOrder.Design.AmountOfColorsOfDesign}}</p>
                    <p>Ink Color(s): {{selectedOrder.Design.InkColorsToBeUsed}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Garment</h4>
                    <p>Type: {{selectedOrder.Apparel.ApparelType}}</p>
                    <p>Brand: {{selectedOrder.Apparel.ApparelBrand}}</p>
                    <p>Quantity: {{selectedOrder.Apparel.ApparelQuantity}}</p>
                    <p>Color: {{selectedOrder.Apparel.ApparelColor}}</p>
                    <p>Price per piece: {{selectedOrder.Apparel.ApparelPricePerPiece}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h4>Fees</h4>
                    <p>Printing Fee: {{selectedOrder.PrintingFee}}</p>
                    <p>Design Fee: {{selectedOrder.Design.DesignFee}}</p>
                    <p>Total: {{selectedOrder.TotalPrice}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Additional Notes</h4>
                    <p>{{selectedOrder.AdditionalNotes}}</p>
                </div>
            </div>
        <div class="footer">
            <button class="btn-primary" ng-click="backToOrders()">Back to Orders</button>
            <button class="btn-danger" ng-click="deleteOrder(OrderFormId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>
</div>