<h1 class="text-center">Orders</h1>
<hr class="small-line" /
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default glyphicon-search"></button>
                        </span>
                        <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
                    </div>
                </div>
            </div>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Sales Person</th>
                            <th>Customer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orderlist | filter: searchText">
                            <td><a href="/#!/orderdetail/{{order.OrderFormId}}">{{order.OrderNumber}}</a></td>
                            <td>{{order.SalesPerson}}</td>
                            <td>{{order.Customer.CustomerName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


     